.square {
    -fx-border-style: solid;
    -fx-padding: 10px;
}

.gamerow {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.highlighted {
    -fx-background-color: #48C9B0;
}

.black-square {
    -fx-background-color: black;
}

.blue-square {
    -fx-background-color: blue;
}

.red-square {
    -fx-background-color: red;
}

.player-card {
    -fx-padding: 10px;
}
