.board-square {
    -fx-border-style: solid;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
}

.card-square {
    -fx-border-style: solid;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.gamerow {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.gameboard {
    -fx-padding: 20px 40px;
    -fx-border-insets: 20px 40px;
    -fx-background-insets: 20px 40px;
}

.game-container {
    -fx-padding: 20px 60px;
    -fx-border-insets: 20px 60px;
    -fx-background-insets: 20px 60px;
}

.highlighted-square {
    -fx-background-color: #27AE60;
    -fx-border-color: #27AE60;
    -fx-border-width: 0px;
}

.highlighted-piece-square {
    -fx-border-color: #F4D03F;
    -fx-border-width: 4px;
}

.player-card-holder.highlighted-card {
    -fx-border-color: #F39C12;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}

.grey-square {
    -fx-background-color: #566573;
}

.empty-square {
    -fx-background-color: #FBFCFC;
}

.blue-square {
    -fx-background-color: lightblue;
}

.red-square {
    -fx-background-color: #FF9999;
}

.p1-player-card {
    -fx-padding: 0px 20px 5px 20px;
    -fx-border-insets: 0px 20px 5px 20px;
    -fx-background-insets: 0px 20px 5px 20px;
}

.p2-player-card {
    -fx-padding: 5px 20px 0px 20px;
    -fx-border-insets: 5px 20px 0px 20px;
    -fx-background-insets: 5px 20px 0px 20px;
}

.player-card-holder {
    -fx-alignment: center;
    -fx-border-color: #F4F4F4;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}

.current-player-turn {
    -fx-font-size: 14px;
    -fx-font-style: italic;
}

.player-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.card-square.arrow-label {
    -fx-border-style: none;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.board-slot {
    -fx-border-style: solid;
    -fx-border-color: black;
}

.even-board-slot {
    -fx-background-color: #FBFCFC;
}

.odd-board-slot {
    -fx-background-color: #B1B6BA;
}
